/*

FONTES

*/

@font-face {
  font-family: 'poppins_medium';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/poppins-medium.woff') format('woff');
}

@font-face {
  font-family: 'clarika_geo_extrabold';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/clarika-geo-extrabold.woff') format('woff');
}

@font-face {
  font-family: 'clarika_geo_ultrablack';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/clarika-geo-ultrablack.woff') format('woff');
}

@font-face {
  font-family: 'billy_ohio';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('../../fonts/billy-ohio.woff') format('woff');
}
