/*

SCROLLBAR

*/

html {
  scrollbar-color: #000000 #ffffff;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #000000;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  width: 5px;
  height: 5px;
  border-radius: 10px;
}
