/*

VARIABLES

*/

/* Cores */

:root {

--cor-branco: #FFFFFF;
--cor-preto: #000000;

--cor-cinza-1: #b3b3b3;
--cor-cinza-2: #6e6e6e;

}

/* Fontes */

:root {

--fonte-regular: 'poppins_regular';
--fonte-extrabold: 'clarika_geo_extrabold';
--fonte-black: 'clarika_geo_ultrablack';
--fonte-estilo: 'billy_ohio';

}
