/*

INDEX partials BODY

*/

body {
  background-color: var(--cor-primaria-1);
  background-image: url('../../../../images/pages/index/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

html {
  scroll-behavior: smooth;
}
