/*

INDEX partials HEADER

*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Titulo */

header .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
  height: 100vh;
  padding: 0px 50px 0px 0px;
}

header .titulo img {
  width: 100%;
  max-width: 250px;
}

header .titulo h2 {
  font-family: var(--fonte-medium);
  color: var(--cor-branco);
  font-size: 2rem;
  line-height: 1.2;
  max-width: 500px;
  padding: 20px 0px 30px 0px;
  cursor: default;
}

header .titulo button {
  font-family: var(--fonte-extrabold);
  background-color: var(--cor-preto);
  color: var(--cor-branco);
  border: 3px solid var(--cor-branco);
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 20px 0px 20px 0px;
}

header .titulo button:hover {
  background-color: var(--cor-branco);
  color: var(--cor-preto);
}

/* Imagem */

header .imagem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
}

header .imagem img {
  height: 100vh;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column-reverse;
  }
  header .titulo {
    width: 100%;
    height: 100%;
    padding: 130px 30px 50px 30px;
  }
  header .imagem {
    width: 100%;
  }
  header .imagem img {
    height: 500px;
  }
}

@media screen and (max-width: 700px) {
  header .titulo h3 {
    font-size: 1.5rem;
  }
  header .titulo h2 {
    font-size: 1.4rem;
    max-width: 600px;
  }
  header .titulo button {
    font-size: 1rem;
  }
}
