/*

INDEX partials LOADING

*/

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-preto);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  cursor: progress;
}

body.carregando {
  overflow: hidden;
}

.loading.ocultar {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loading svg {
  width: 100%;
  max-width: 250px;
}

.loading_svg_bolinha {
  fill: white;
  animation: loading 3s infinite;
  animation-delay: 1.2s;
}

.loading_svg_f {
  fill: white;
  animation: loading 3s infinite;
  animation-delay: 0.3s;
}

.loading_svg_d {
  fill: white;
  animation: loading 3s infinite;
  animation-delay: 0.6s;
}

.loading_svg_i {
  fill: white;
  animation: loading 3s infinite;
  animation-delay: 0.9s;
}

@keyframes loading {
  0% {opacity: 0;}
  50% {opacity: 1;}
  70% {opacity: 0;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

/* Responsivo */

@media screen and (max-width: 500px) {
  .loading svg {
    max-width: 150px;
  }
}
