/*

INDEX partials SECTION AUTOR

*/

section.autor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 30px 200px 30px;
}

/* Quadro */

section.autor .quadro {
  padding: 80px 30px;
  border: 3px solid var(--cor-branco);
  width: 100%;
  max-width: 900px;
  position: relative;
  background-color: var(--cor-preto);
  background-image: url('../../../../images/pages/index/imagem-autor.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  cursor: default;
  border-radius: 20px 0px 20px 0px;
}

section.autor .quadro h3 {
  font-family: var(--fonte-estilo);
  font-size: 2rem;
  color: var(--cor-branco);
}

section.autor .quadro h2 {
  font-family: var(--fonte-black);
  font-size: 4rem;
  line-height: 0.8;
  color: var(--cor-branco);
}

section.autor .quadro h2.menor {
  font-size: 3rem;
}

section.autor .quadro p {
  font-family: var(--fonte-medium);
  font-size: 0.9rem;
  line-height: 1.5;
  color: var(--cor-branco);
  padding-top: 20px;
  width: 100%;
  max-width: 500px;
}

section.autor .quadro p.preto {
  color: var(--cor-preto);
  padding-top: 0px;
}

section.autor .quadro .info {
  position: absolute;
  bottom: -120px;
  left: 100px;
  max-width: 400px;
  background-color: var(--cor-branco);
  border: 3px solid var(--cor-branco);
  padding: 30px;
  border-radius: 20px 0px 20px 0px;
}

section.autor .quadro .info:active {
  background-color: var(--cor-preto);
}

section.autor .quadro .info:active p.preto {
  color: var(--cor-branco);
}

/* Responsivo */

@media screen and (max-width: 800px) {
  section.autor .quadro {
    padding: 80px 30px 300px 30px;
    max-width: 500px;
    background-position: bottom center;
  }
  section.autor .quadro .info {
    bottom: -130px;
    left: -33px;
    max-width: 280px;
    padding: 15px;
  }
}

@media screen and (max-width: 500px) {
  section.autor .quadro h3 {
    font-size: 1.6rem;
  }
  section.autor .quadro h2 {
    font-size: 2.5rem;
  }
  section.autor .quadro h2.menor {
    font-size: 1.5rem;
  }
}
