/*

INDEX partials SECTION CONTEUDO

*/

section.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 30px;
  background-image: url('../../../../images/pages/index/background-2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left bottom;
}

/* Cima */

section.conteudo .cima {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  cursor: default;
}

/* Baixo */

section.conteudo .baixo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  justify-content: center;
  width: 100%;
  max-width: 900px;
  background-color: var(--cor-branco);
  border: 5px solid var(--cor-branco);
  margin-top: 30px;
  padding: 30px;
  cursor: default;
}

/* Textos */

section.conteudo h2 {
  font-family: var(--fonte-extrabold);
  font-size: 1.5rem;
  padding-bottom: 10px;
}

section.conteudo h2.branco {
  color: var(--cor-branco);
}

section.conteudo h2 span {
  font-family: var(--fonte-estilo);
  font-size: 2rem;
}

section.conteudo p {
  font-family: var(--fonte-extrabold);
  font-size: 0.9rem;
  line-height: 1.5;
}

section.conteudo p.branco {
  color: var(--cor-branco);
}

/* Quadros */

section.conteudo .cima .quadros.dois {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  background-color: transparent;
  border: 5px solid var(--cor-branco);
  height: 600px;
  margin-left: 30px;
  padding: 30px;
  width: 50%;
}

section.conteudo .cima .quadros.um {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Quadro */

section.conteudo .cima .quadros.um .quadro.um {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  background-color: var(--cor-branco);
  border: 5px solid var(--cor-branco);
  height: 230px;
  margin-bottom: 30px;
  padding: 30px;
}

section.conteudo .cima .quadros.um .quadro.um:hover {
  background-color: transparent;
}

section.conteudo .cima .quadros.um .quadro.um:hover h2,
section.conteudo .cima .quadros.um .quadro.um:hover p {
  color: var(--cor-branco);
}

section.conteudo .cima .quadros.um .quadro.dois {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.conteudo .cima .quadros.um .quadro.dois div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  background-color: var(--cor-branco);
  border: 5px solid var(--cor-branco);
  height: 350px;
  padding: 30px;
}

section.conteudo .cima .quadros.um .quadro.dois div:nth-child(2) {
  margin-left: 30px;
  background-color: transparent;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.conteudo .cima {
    flex-direction: column;
  }
  section.conteudo .cima .quadros.dois {
    height: auto;
    margin-left: 0px;
    margin-top: 30px;
    width: 100%;
  }
  section.conteudo .cima .quadros.um .quadro.um {
    height: auto;
  }
  section.conteudo .cima .quadros.um .quadro.dois div {
    height: 300px;
  }
}

@media screen and (max-width: 700px) {
  section.conteudo .cima .quadros.um .quadro.dois {
    flex-direction: column;
  }
  section.conteudo .cima .quadros.um .quadro.dois div:nth-child(2) {
    margin-left: 0px;
    margin-top: 30px;
  }
  section.conteudo .cima .quadros.um .quadro.dois div {
    height: auto;
  }
}
