/*

INDEX partials SECTION CONTEUDO

*/

section.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

/* Quadro */

section.conteudo .quadro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 50px 50px;
  min-height: 100px;
}

/* Background */

section.conteudo .quadro.quatro {
  background-color: var(--cor-primaria-1);
}

section.conteudo .quadro.sete {
  background-color: var(--cor-primaria-1);
}

/* Textos */

section.conteudo .quadro h2 {
  font-family: var(--fonte-regular);
  font-size: 1.3rem;
  color: var(--cor-branco);
}

section.conteudo .quadro.um h2 {
  color: var(--cor-primaria-1);
}

section.conteudo .quadro.quatro h2 {
  color: var(--cor-secundaria-1);
}

section.conteudo .quadro.sete h2 {
  color: var(--cor-secundaria-1);
}

section.conteudo .quadro.dez h2 {
  color: var(--cor-primaria-1);
}

/* Bordas */

section.conteudo .quadro.um {
  border-right: 5px solid var(--cor-primaria-1);
  border-top: 5px solid var(--cor-primaria-1);
}

section.conteudo .quadro.dois {
  border-top: 5px solid var(--cor-primaria-1);
}

section.conteudo .quadro.tres {
  border-right: 5px solid var(--cor-primaria-1);
  border-top: 5px solid var(--cor-primaria-1);
}

section.conteudo .quadro.quatro {
  border-top: 5px solid var(--cor-primaria-1);
}

section.conteudo .quadro.cinco {
  border-right: 5px solid var(--cor-primaria-1);
  border-top: 5px solid var(--cor-primaria-1);
}

section.conteudo .quadro.seis {
  border-top: 5px solid var(--cor-primaria-1);
}

section.conteudo .quadro.sete {
  border-right: 5px solid var(--cor-primaria-1);
  border-top: 5px solid var(--cor-primaria-1);
}

section.conteudo .quadro.oito {
  border-top: 5px solid var(--cor-primaria-1);
}

section.conteudo .quadro.nove {
  border-right: 5px solid var(--cor-primaria-1);
  border-top: 5px solid var(--cor-primaria-1);
  border-bottom: 5px solid var(--cor-primaria-1);
}

section.conteudo .quadro.dez {
  border-top: 5px solid var(--cor-primaria-1);
  border-bottom: 5px solid var(--cor-primaria-1);
}

/* Tamanhos */

section.conteudo .quadro.um {
  width: 40%;
}

section.conteudo .quadro.dois {
  width: 60%;
}

section.conteudo .quadro.tres {
  width: 60%;
}

section.conteudo .quadro.quatro {
  width: 40%;
}

section.conteudo .quadro.cinco {
  width: 50%;
}

section.conteudo .quadro.seis {
  width: 50%;
}

section.conteudo .quadro.sete {
  width: 40%;
}

section.conteudo .quadro.oito {
  width: 60%;
}

section.conteudo .quadro.nove {
  width: 60%;
}

section.conteudo .quadro.dez {
  width: 40%;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.conteudo .quadro h2 {
    font-family: var(--fonte-medium);
    font-size: 0.9rem;
  }
  section.conteudo .quadro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 20px;
    min-height: 100px;
  }
}
