/*

INDEX partials SECTION GARANTIA

*/

section.garantia {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px 0px 20px 0px;
  background-image: url('../../../../images/pages/index/background-foto-3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 50px;
}

/* Titulo */

section.garantia .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  cursor: default;
}

section.garantia .titulo h3 {
  font-family: var(--fonte-estilo);
  color: var(--cor-branco);
  font-size: 3rem;
  line-height: 1;
}

section.garantia .titulo h2 {
  font-family: var(--fonte-extrabold);
  color: var(--cor-branco);
  font-size: 1.3rem;
  line-height: 1.5;
  max-width: 700px;
  padding: 20px 0px 0px 0px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.garantia {
    padding: 100px 30px;
  }
  section.garantia .titulo h3 {
    font-size: 2rem;
  }
  section.garantia .titulo h2 {
    font-size: 1.2rem;
    line-height: 1;
    max-width: 500px;
  }
}
