/*

INDEX partials SECTION CRISE

*/

section.crise {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0px;
}

/* Titulo */

section.crise .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
  padding: 0px 0px 0px 50px;
}

section.crise .titulo h2 {
  font-family: var(--fonte-black);
  font-size: 3rem;
  color: var(--cor-branco);
  width: 100%;
  max-width: 600px;
  padding-bottom: 15px;
}

section.crise .titulo p {
  font-family: var(--fonte-medium);
  font-size: 1.2rem;
  color: var(--cor-primaria-1);
}

/* Quadros */

section.crise .quadros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  min-height: 400px;
}

section.crise .quadros .quadro {
  position: absolute;
  max-height: 400px;
  min-height: 400px;
  height: 400px;
  max-width: 400px;
  overflow-y: scroll;
  padding-right: 15px;
}

section.crise .quadros .quadro p {
  font-family: var(--fonte-regular);
  font-size: 1rem;
  color: var(--cor-branco);
  line-height: 1.8;
  padding-top: 25px;
}

section.crise .quadros .quadro p.primeiro {
  padding-top: 0px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.crise {
    flex-direction: column;
  }
  section.crise .titulo {
    padding: 0px 0px 100px 30px;
  }
}

@media screen and (max-width: 600px) {
  section.crise {
    padding: 100px 30px;
  }
  section.crise .titulo {
    padding: 0px 0px 100px 0px;
  }
  section.crise .titulo h2 {
    font-size: 1.6rem;
    max-width: 300px;
  }
  section.crise .titulo p {
    font-size: 1rem;
  }
  section.crise .quadros .quadro p {
    font-size: 0.9rem;
  }
}
