/*

BLACKFRIDAY partials HEADER

*/

header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  position: relative;
  background-image: linear-gradient(0deg, rgba(44, 44, 44, 0.5), rgb(0, 0, 0, 0));
}

/* Titulo */

header .titulo {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  padding: 100px 50px;
  width: 100%;
  z-index: 1;
}

header .titulo h2 {
  font-family: var(--fonte-black);
  font-size: 2rem;
  color: var(--cor-preto);
  background-color: var(--cor-primaria-1);
  padding: 10px 20px;
  border-radius: 10px 0px 10px 0px;
  line-height: 1;
  width: max-content;
}

header .titulo h1 {
  font-family: var(--fonte-black);
  font-size: 3rem;
  color: var(--cor-branco);
  padding: 20px 0px 15px 0px;
  line-height: 1;
  width: 100%;
  max-width: 700px;
}

header .titulo p {
  font-family: var(--fonte-regular);
  font-size: 1.2rem;
  color: var(--cor-branco);
  line-height: 1.6;
  width: 100%;
  max-width: 600px;
}

/* Imagem */

header .imagem {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  min-height: 600px;
}

header .imagem img {
  width: 100%;
  max-width: 300px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column-reverse;
    min-height: 100%;
  }
  header .titulo {
    padding: 150px 30px 80px 30px;
  }
  header .imagem {
    min-height: auto;
  }
  header .titulo h2 {
    font-size: 1.4rem;
  }
  header .titulo h1 {
    font-size: 2rem;
    max-width: 440px;
  }
  header .titulo p {
    font-size: 1rem;
    max-width: 500px;
  }
}

@media screen and (max-width: 550px) {
  header .titulo h2 {
    font-size: 1.2rem;
  }
  header .titulo h1 {
    font-size: 1.6rem;
    max-width: 300px;
  }
  header .titulo p {
    font-size: 0.9rem;
    max-width: 300px;
  }
  header .imagem img {
    max-width: 250px;
  }
}
