/*

BLACKFRIDAY partials LOADING

*/

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-preto);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  cursor: progress;
}

body.carregando {
  overflow: hidden;
}

.loading.ocultar {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loading svg {
  width: 100%;
  max-width: 250px;
}

.svg_w {
  fill: #ffffff;
  animation: loading 10s linear infinite;
  animation-delay: 0.1s;
}

.svg_i {
  fill: #ffffff;
  animation: loading 10s linear infinite;
  animation-delay: 0.2s;
}

.svg_z {
  fill: #ffffff;
  animation: loading 10s linear infinite;
  animation-delay: 0.3s;
}

.svg_o1 {
  fill: #ffffff;
  animation: loading 10s linear infinite;
  animation-delay: 0.4s;
}

.svg_o2 {
  fill: #ffffff;
  animation: loading 10s linear infinite;
  animation-delay: 0.5s;
}

.svg_m {
  fill: #ffffff;
  animation: loading 10s linear infinite;
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    opacity: 0;
    fill: #ffffff;
  }
  15% {
    opacity: 1;
    fill: #ffffff;
  }
  20% {
    fill: #ffffff;
  }
  25% {
    fill: #ffffff;
    opacity: 0.5;
  }
  35% {
    opacity: 1;
    fill: #ffffff;
  }
  50% {
    fill: #ffffff;
  }
  65% {
    fill: #ffffff;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Responsivo */

@media screen and (max-width: 500px) {
  .loading svg {
    max-width: 200px;
  }
}
