/*

BLACKFRIDAY partials SCROLLBAR

*/

html {
  scrollbar-color: #ffffff #000000;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #000000;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}
