/*

BLACKFRIDAY partials SECTION CURSO

*/

section.curso {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 110vh;
  position: relative;
  background-image: linear-gradient(0deg, rgba(30, 30, 30, 0.5), rgb(0, 0, 0, 0));
}

/* Titulo */

section.curso .titulo {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  padding: 50px;
  width: 100%;
}

section.curso .titulo h3 {
  font-family: var(--fonte-black);
  font-size: 1.5rem;
  color: var(--cor-primaria-1);
  border: 3px solid var(--cor-primaria-1);
  padding: 5px 15px;
  width: max-content;
}

section.curso .titulo h2 {
  font-family: var(--fonte-black);
  font-size: 2.5rem;
  color: var(--cor-branco);
  padding: 15px 0px 10px 0px;
  width: 100%;
  max-width: 500px;
}

section.curso .titulo p.descricao {
  font-family: var(--fonte-regular);
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--cor-branco);
  width: 100%;
  max-width: 500px;
}

section.curso .titulo div.preco {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 40px 0px 20px 0px;
}

section.curso .titulo div.preco p.antes {
  position: absolute;
  font-family: var(--fonte-medium);
  font-size: 1.5rem;
  color: var(--cor-vermelho);
  transform: rotate(-5deg);
  left: -20px;
  top: 0;
}

section.curso .titulo div.preco p.promocao {
  font-family: var(--fonte-medium);
  font-size: 2rem;
  color: var(--cor-branco);
  padding-top: 20px;
}

section.curso .titulo div.preco p.promocao span {
  font-family: var(--fonte-black);
  font-size: 3rem;
  color: var(--cor-primaria-1);
}

section.curso .titulo div.preco p.promocao span.maior {
  font-size: 4rem;
}

section.curso .titulo button {
  font-family: var(--fonte-black);
  font-size: 1.3rem;
  color: var(--cor-preto);
  background-color: var(--cor-primaria-1);
  padding: 10px 20px;
  border-radius: 10px 0px 10px 0px;
}

section.curso .titulo button:hover {
  background-color: var(--cor-branco);
  color: var(--cor-primaria-1);
}


/* Imagem */

section.curso .imagem {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  min-height: 110vh;
  position: relative;
}

section.curso .imagem img {
  width: 100%;
  max-width: 600px;
  opacity: 0.3;
}

section.curso .imagem p.informacao {
  position: absolute;
  font-family: var(--fonte-medium);
  font-size: 1.2rem;
  color: var(--cor-branco);
  padding: 15px 30px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 15px 0px 15px 0px;
  z-index: 1;
}

section.curso .imagem p.informacao.alunos {
  right: 50px;
  bottom: 150px;
}

section.curso .imagem p.informacao.aulas {
  right: 300px;
  bottom: 50px;
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.curso {
    min-height: 100%;
    flex-direction: column;
  }
  section.curso:nth-child(odd) {
    flex-direction: column-reverse;
  }
  section.curso .titulo {
    padding: 100px 30px 60px 30px;
  }
  section.curso .imagem {
    min-height: 100%;
  }
  section.curso .titulo h3 {
    font-size: 1.3rem;
  }
  section.curso .titulo h2 {
    font-size: 1.6rem;
    max-width: 400px;
  }
  section.curso .titulo p.descricao {
    font-size: 0.9rem;
    max-width: 400px;
  }
  section.curso .titulo div.preco p.antes {
    font-size: 1.2rem;
    left: -15px;
  }
  section.curso .titulo div.preco p.promocao {
    font-size: 1.4rem;
    padding-top: 25px;
  }
  section.curso .titulo div.preco p.promocao span {
    font-size: 1.8rem;
  }
  section.curso .titulo div.preco p.promocao span.maior {
    font-size: 3rem;
  }
  section.curso .titulo button {
    font-size: 1rem;
  }
}



@media screen and (max-width: 600px) {
  section.curso .imagem p.informacao {
    font-size: 1.1rem;
    padding: 10px 20px;
    border-radius: 10px 0px 10px 0px;
  }

  section.curso .imagem p.informacao.alunos {
    right: 30px;
    bottom: 150px;
  }

  section.curso .imagem p.informacao.aulas {
    right: 150px;
    bottom: 50px;
  }
}
